@font-face {
    font-family: Inconsolata;
    src: url(inconsolata.otf);
}

/* default settings (layout only, NOT for typographic details) */
a:link {
  text-decoration: none;
  color: #fff;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
body {
  background-color: #ababab;
}
/* default typography presets */
html{
  font-family: "Inconsolata", sans-serif;
}

h1 {
  font-family: "Inconsolata", "Helvetica", sans-serif;
  font-size: 4em;
}
h2 {
  font-family: Georgia,serif;
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.5em;
}
p{
  font-size: 1.3em;
}

/* custom modifications */
html{
  cursor: none;
}

body{
  overflow: hidden;
  cursor: none;
}

#page-content{
  float: left;
  width: 70%;
  max-width: 900px;
  margin-left: 30px;
  padding-right: 25px;
  border-right: solid 1px black;
  height: 100vh;
}

h1{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#page-content #insert{
  word-wrap: break-word;
  min-height: 100px;
  width: 100%;
}

#page-content textarea{
  height: 60vh;
  font-size: 1.75em;
  cursor: none;
  font-family: sans-serif;
}

#instruction{
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  margin: 38px;
  margin-top: 20px;
  font-size: 1em;
}

#qrcode{
  position: fixed;
  height: 200px;
  width: 200px;
  background-color: white;
  bottom: 0px;
  right: 0px;
  padding: 25px;
  margin: 10px;
  margin-right: 38px;
  cursor: none;
}

